# Below is an example of filling out the .env file.
POSTGRES_HOST=brewery_db
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=1234
POSTGRES_DB=brewery_db
POSTGRES_MIN_CONNS=1
POSTGRES_MAX_CONNS=10
SERVER_PORT=8080