# Below is an example of filling out the .env file.
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=1234
POSTGRES_DB=brewery_db
POSTGRES_MIN_CONNS=1
POSTGRES_MAX_CONNS=10

SERVER_PORT=8080

TEST_POSTGRES_HOST=test_beer_db
TEST_POSTGRES_PORT=5430
TEST_POSTGRES_USER=test_user
TEST_POSTGRES_PASSWORD=test_pswd
TEST_POSTGRES_DB=test_db
TEST_POSTGRES_MIN_CONNS=1
TEST_POSTGRES_MAX_CONNS=10


PROMETHEUS_PORT=1111
GF_PASSWORD=pswd
GF_PORT=1234
NODE_EXPORTER_PORT=1244
POSTGRES_EXPORTER_PORT=9187

JWT_SECRET="super-secret-key"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="yourpassword"